/* import bootstrap css */
@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  margin: 0;
}

th {
  text-align: center;
  font-weight: 600;
  font-size: large;
}

tr {
  text-align: center;
  font-weight: 500;
}