/* Navbar css */
.navbar {
    background-color: #004AAD !important;
}

/* Form css */
.form {
    width: 30%;
}

/* Add Product Button css */
.add-product-btn {
    display: block;
    float: right;
    margin: 10px 10px;
    border-radius: 10%;
    background-color: #004AAD ;
    color: white ;
}

.add-product-btn:hover {
    background-color: #00306F ;
}

/* pagination css */
.pagination {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.pagination > ul.pagination > li {
    background-color: gray;
    color: white;
}